
body{ 
  font-family: 'Open Sans', sans-serif !important;
}

@tailwind preflight;
@tailwind components;
@tailwind utilities;

body{ 
  font-family: 'Open Sans', sans-serif !important;
}
p{ 
  font-family: 'Open Sans', sans-serif !important;
}

body {
  @apply bg-grey-light;
}

.ais-Hits-list{
  @apply list-reset ml-0 mt-10 bg-white;
}

.ais-SearchBox-input:focus{
  @apply outline-none bg-grey-light;
}

.ais-SearchBox-input{
  @apply bg-grey-light text-5xl font-serif;
}
.ais-SearchBox-input::placeholder{
  @apply bg-grey-light text-5xl font-serif text-black  opacity-75;
}

.ais-Hits-item{
  @apply bg-white shadow-md ml-0 mt-0 mb-0 text-pink pl-6 pr-6 pt-6 pb-6 text-xl font-serif flex items-center;
}

.ais-Hits-item:nth-child(even) {
  background-color: #FBFBFB !important
}  





/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: red;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px red, 0 0 5px red;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: red;
  border-left-color: red;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
